{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/button-has-type": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "max-len": "off",
    "no-undef": "off",
    "no-plusplus": "off",
    "no-shadow": "off"
  },
  "parser": "@babel/eslint-parser"
}
