.xd-my--xs,
.xd-mt--xs {
  margin-top: var(--spacing-xs);
}

.xd-my--xs,
.xd-mb--xs {
  margin-bottom: var(--spacing-xs);
}

.xd-my--sm,
.xd-mt--sm {
  margin-top: var(--spacing-sm);
}

.xd-my--sm,
.xd-mb--sm {
  margin-bottom: var(--spacing-sm);
}

.xd-my--lg,
.xd-mt--lg {
  margin-top: var(--spacing-lg);
}

.xd-my--lg,
.xd-mb--lg {
  margin-bottom: var(--spacing-lg);
}

.xd-my--xl,
.xd-mt--xl {
  margin-top: var(--spacing-xl);
}

.xd-my--xl,
.xd-mb--xl {
  margin-bottom: var(--spacing-xl);
}
