.xd-py--xs,
.xd-pt--xs {
  padding-top: var(--spacing-xs);
}

.xd-py--xs,
.xd-pb--xs {
  padding-bottom: var(--spacing-xs);
}

.xd-py--sm,
.xd-pt--sm {
  padding-top: var(--spacing-sm);
}

.xd-py--sm,
.xd-pb--sm {
  padding-bottom: var(--spacing-sm);
}

.xd-py--lg,
.xd-pt--lg {
  padding-top: var(--spacing-lg);
}

.xd-py--lg,
.xd-pb--lg {
  padding-bottom: var(--spacing-lg);
}

.xd-py--xl,
.xd-pt--xl {
  padding-top: var(--spacing-xl);
}

.xd-py--xl,
.xd-pb--xl {
  padding-bottom: var(--spacing-xl);
}
