{% extends 'base.twig' %}

{% block hero %}
  {% include 'partials/hero/hero-small.twig' %}
{% endblock %}

{% block content %}
  <article
    id="post-{{ post.id }}"
    class="{{ post.class }}"
  >
    <div class="entry-content">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1">
            {{ fn('get_the_password_form') }}
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
