@use '../../../assets/scss/mixins/' as *;

.xd-logo-grid {
  .components-placeholder.components-placeholder {
    min-height: 0;
  }

  &__content {
    height: fit-content;
  }

  .xd-image {
    height: 100px;
    margin: 0;
    padding: 0;
    width: calc(100% - 1.2rem) !important;
    margin-bottom: 0;

    @include mq(s) {
      width: calc(50% - 1.5rem) !important;
    }

    @include mq(xl) {
      width: calc(25% - 1.8rem) !important;
    }
  }

  .xd-image > .components-placeholder {
    height: 100px;
    padding: 0;
  }

  .xd-media-placeholder.components-placeholder .components-button {
    width: 38px;
    height: 38px;
  }
}
