<div
  class="xd-alert"
  uk-alert
  data-xd-alert
  data-ui="alert"
>
  <div class="alert-content">
    {{ templateProps.alertBar.content }}
  </div>

  <a
    class="uk-alert-close"
    href="#"
    uk-close
  >
    <span class="screen-reader-text">Close</span>
    {{ get_icon('close') }}
  </a>
</div>
