<div id="email_verify_modal" data-ui="modal" data-modal="{}">
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Please confirm you are a person.</h2>
    <div id="email_verify"></div>
  </div>
</div>
