@use '../mixins/' as *;

.xd-columns {
  &__columns {
    display: grid;
    overflow-wrap: break-word;
    row-gap: var(--spacing-sm);
    grid-template-columns: repeat(auto-fit, 100%);

    @include mq(l) {
      grid-template-columns: repeat(auto-fit, 46.25%);
      column-gap: 7.5%;
    }

    @include mq(xl) {
      grid-template-columns: repeat(auto-fit, 44.75%);
      column-gap: 10.5%;
    }
  }

  &--three &__columns {
    row-gap: pixeltorem(40);

    @include mq(l) {
      gap: pixeltorem(56) 3.7%;
      grid-template-columns: repeat(auto-fit, 30.86%);
    }
  }

  &--four &__columns {
    row-gap: pixeltorem(40);

    @include mq(m) {
      gap: pixeltorem(56) 10.5%;
      grid-template-columns: repeat(auto-fit, 44.75%);
    }

    @include mq(xl) {
      grid-template-columns: repeat(4, 22.375%);
      column-gap: 3.5%;
    }
  }

  .xd-column {
    &__heading {
      @include mq(xs,l) {
        margin-bottom: calc(0px - var(--spacing-sm));
      }

      @include mq(l) {
        *:only-child {
          margin-bottom: 0;
        }
      }
    }

    &--empty {
      display: none;

      @include mq(l) {
        display: block;
      }

    }
  }
}
