@use '../mixins/' as *;

.xd-two-column-list {
  @include mq(l) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6%;
  }

  ul[class*="is-style-standard-list"] {
    margin-bottom: 0;

    & + ul[class*="is-style-standard-list"] {
      margin-top: 0;
      margin-bottom: 1.25rem;
    }
  }
}

ul[class*="is-style-standard-list"] {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1.25rem;
  list-style: none;
  width: 100%;

  li {
    line-height: 1.7em;

    &.has-checkmark {
      display: flex;
      align-items: flex-start;
    }

    ul {
      list-style: disc;
    }
  }

  > li {
    border-top: 1px solid var(--stroke);
    padding-top: 1em;
    padding-bottom: 1em;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid var(--stroke);

      .xd-accordion & {
        border-bottom: none;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .xd-icon {
    transform: translateY(0.25rem);
    margin-right: 1rem;
    flex: 0 0 16px;

    @include mq(m) {
      flex: 0 0 20px;
    }
  }
}

.is-style-standard-list-with-links {
  li {
    font-size: var(--h5-font-size);
    font-family: var(--h5-font-family);
    line-height: 1.5;

    .xd-icon {
      margin-right: 0;
      margin-left: 1rem;
      width: 38px;
      height: 38px;
      flex: 0 0 38px;
      transform: translateY(0);

      @include mq(m) {
        width: 48px;
        height: 48px;
        flex: 0 0 48px;
      }
    }

    .xd-container-wide & {
      font-size: var(--h4-font-size);
      font-family: var(--h4-font-family);
      line-height: 1.5;
    }

    a {
      color: var(--title-link-color, var(--body-link-color));
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &:hover {
        color: var(--title-link-hover-color, var(--body-link-hover-color));

        .xd-icon {
          transform: translateX(0.75rem);
        }
      }
    }
  }
}

.xd-two-column__columns {
  .xd-column:has(.wp-block-list) {
    + .xd-column:has(.wp-block-list) {
      margin-top: calc(-1* var(--spacing-sm));

      @include mq(l) {
        margin-top: 0;
      }
    }
  }
}