// stops bootstrap grid settings max-widths on the containers;
$container-max-widths: ();

// stops bootstrap applying gutters;
$grid-gutter-width: 0;

$xd-gutter : ('mobile': 10px, 'desktop' : 20px);