button {
  &.css-if8s8t {
    font-size: 13px;
  }
}

.editor-post-panel__row-label {
  font-size: 13px;
}

.editor-post-panel__row-control {
  span,
  a {
  font-size: 13px;
  }

}


.components-popover__content {
  div {
    font-size: 12px;
  }
}

.xd-field-group {
  h4 {
    font-size: 13px;
  }
}

.yoast-seo-sidebar-panel {
  .yoast-analysis-check span,
  button {
    font-size: 13px;
  }
}

